@import '@/styles/colors';
@import '@/styles/device';

.testimonial {
  padding: 165px 0 100px 0;
  @include devices(mobile) {
    padding: 40px 20px;
  }

  @include devices(planshet) {
    padding: 40px 20px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 50px;

  @include devices(mobile) {
    font-size: 16px;
  }

  .titleLeft {
    h2 {
      font-size: 35px;
      font-family: RotaBold;

      @include devices(mobile) {
        font-size: 18px;
      }
    }
  }

  .titleRight {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    @include devices(mobile) {
      display: none;
    }

    h2 {
      font-size: 36px;
      font-family: RotaBlack;
      color: $orange;
    }

    span {
      font-size: 18px;
    }
  }
}

.slide {
  padding: 50px 50px 38px 50px;
  border: 1px solid rgba(58, 58, 60, 0.1);
  border-radius: 16px;
  max-width: 380px;
  height: 470px;
  min-height: 470px;
  max-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include devices(planshet) {
    max-width: 300px;
    padding: 25px;
  }

  &:hover {
    border: 1px solid $orange;
    box-shadow: 0 50px 100px rgba(58, 58, 60, 0.15);
  }

  .image {
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
    color: $grey;
    margin-bottom: 50px;
  }

  h3 {
    margin: 20px 0 12px 0;
    font-size: 16px;
  }

  span {
    font-size: 14px;
    color: $grey;
  }
}

.arrows {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  cursor: pointer;
  div:hover {
    svg {
      path {
        stroke: white;
      }
    }
    circle {
      fill: $orange;
      opacity: 1;
    }
  }
}
