@import '@/styles/colors';
@import '@/styles/device';

.offer {
  position: relative;
  background-image: url(../../../public/images/background-offer.webp);
  background-color: #3a3a3c;
  background-size: cover;
  @include devices(mobile) {
    background-image: none;
  }
  @include devices(planshet) {
    background-image: none;
  }
}

.wrapper {
  padding: 40px 0 60px 0;
  display: flex;
  @include devices(mobile) {
    flex-direction: column-reverse;
    padding: 40px 0 0 0;
  }
  @include devices(planshet) {
    flex-direction: column-reverse;
    padding: 40px 0 0 0;
  }
}

.imageWrapper {
  position: absolute;
  left: -5%;
  top: 5%;
  .image {
    position: unset;
    object-fit: contain;
    max-width: 700px;
    max-height: 700px;
    left: 0;
  }
  @include devices(mobile) {
    display: none;
  }
  @include devices(planshet) {
    display: none;
  }
}

.imageWrapperMobile {
  display: none;
  position: relative;
  @include devices(planshet) {
    display: block;
    background-image: url(../../../public/images/background-offer-mobile.webp);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include devices(mobile) {
    display: block;
    background-image: url(../../../public/images/background-offer-mobile.webp);
    height: 225px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image {
    @include devices(mobile) {
      position: absolute;
      width: 100%;
      height: auto;
    }
    @include devices(planshet) {
      position: absolute;
      object-fit: contain;
      width: 100%;
      height: 600px;
    }
  }
}

.tabsWrapper {
  width: 742px;
  max-width: 100%;
  margin-left: auto;
  @include devices(mobile) {
    margin-left: 0;
    padding: 0 20px;
  }
  @include devices(planshet) {
    margin-left: 0;
    padding: 0 20px;
    max-width: 100%;
  }
  h3 {
    color: white;
    font-size: 35px;
    font-family: RotaBold;
    margin-bottom: 14px;
  }
}
