@import '@/styles/colors';
@import '@/styles/device';

.headerContainer {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  @include devices(mobile) {
    display: none;
  }
  @include devices(planshet) {
    display: none;
  }
  border-bottom: 1px solid rgba(22, 22, 22, 0.08);
  box-shadow: 0px -3px 25px rgba(0, 0, 0, 0.08);
}

.headerWrap {
  height: 85px;
  min-height: 85px;
  max-height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  ul {
    display: flex;
    gap: 35px;
  }
  li {
    font-weight: 500;
    font-size: 16px;
  }
}
